image: nixos/nix:latest

stages:
  - build-base
  - build-backends
  - test

cache:
  key: ${CI_COMMIT_REF_SLUG}
  paths:
  - .stack/
  - .stack-work/
  - /nix

build beam core:
  stage: build-base
  script: nix-shell --command "stack build --system-ghc --nix beam-core beam-migrate --flag beam-core:werror --flag beam-migrate:werror"

build beam sqlite:
  stage: build-backends
  script: nix-shell --command "stack build --system-ghc beam-sqlite --flag beam-sqlite:werror"

build beam postgres:
  stage: build-backends
  script: nix-shell --command "stack build --system-ghc beam-postgres --flag beam-postgres:werror"

test beam-core:
  stage: test
  script: nix-shell --command "stack test --system-ghc --nix beam-core --flag beam-core:werror"

test beam-postgres:
  stage: test
  script: nix-shell --command "stack test --system-ghc --nix beam-postgres --flag beam-postgres:werror"
